#cloud-config

groups:
  - minecraft

packages:
  - git
  - jre-openjdk-headless

users:
  - name: serv
    groups: sudo, minecraft, systemd-journal
    sudo: "ALL=(ALL) NOPASSWD:ALL"
%{if length(maintenance_public_ssh_keys) > 0}
    ssh_authorized_keys:
%{for key in maintenance_public_ssh_keys}
      - "${key}"
%{endfor}
%{endif}
  - name: mc
    groups: minecraft
    homedir: /srv/minecraft

write_files:
  - content: |
      #!/usr/bin/env bash
      
      cd /srv/minecraft
      curl -O https://davemedinatv-static.br-gru-1.linodeobjects.com/spigot-1.21.8.jar

      # First run to generate initial set of config files
      java -jar spigot-1.21.8.jar

      # Accept the EULA
      echo eula=true > eula.txt

      # Disable online mode
      sed -i 's/online-mode=true/online-mode=false/g' server.properties
      sed -i 's/rcon.password=/rcon.password=${rcon_password}/g' server.properties
      sed -i 's/^motd=.*$/motd=${motd}/g' server.properties
      sed -i 's/gamemode=survival/gamemode=${gamemode}/g' server.properties
      sed -i 's/generate-structures=true/generate-structures=${generate_structures}/g' server.properties
      sed -i 's/level-seed=/level-seed=${seed}/g' server.properties
      sed -i 's/max-players=[0-9]*/max-players=${max_players}/g' server.properties
      sed -i 's/rcon.port=[0-9]*/rcon.port=${rcon_port}/g' server.properties
      sed -i 's/server-port=[0-9]*/server-port=${server_port}/g' server.properties

    path: /srv/minecraft/install.sh
    permissions: "0774"
    owner: mc:minecraft
    defer: true

  - content: |
      [Unit]
      Description=Minecraft Server
      After=network.target

      [Service]
      User=mc
      Group=minecraft
      WorkingDirectory=/srv/minecraft
      ExecStart=/usr/bin/java -Xms1G -Xmx2G -Dfile.encoding=UTF-8 -jar /srv/minecraft/spigot-1.21.8.jar
      Restart=always
      RestartSec=5
      StandardOutput=journal+console
      StandardError=journal+console

      [Install]
      WantedBy=multi-user.target
    path: /etc/systemd/system/spigot.service
    owner: root:root
    permissions: "0660"

runcmd:
  - [chown, mc:minecraft, /srv/minecraft]
  - [runuser, -u, mc, -g, minecraft, /srv/minecraft/install.sh]
  - systemctl enable spigot
  - systemctl start spigot

package_update: true
package_upgrade: true
disable_root: true
ssh_quiet_keygen: true